.git
config.json

# Cache
.mypy_cache
.ruff_cache
.pytest_cache
*__pycache__*
*.egg-info
*.pyc

# Machine specific
.idea
.vscode

# Ignore .env files
.env
.envrc

# ignore virtualenv
.venv
venv*
phienv*

.ipynb_checkpoints

.DS_Store
