apache-airflow==2.5.0
apache-airflow-providers-ssh==3.4.0
apache-airflow-providers-amazon==7.0.0
apache-airflow-providers-postgres==5.4.0
apache-airflow-providers-papermill==3.1.0
apache-airflow-providers-apache-spark==4.0.0
ipykernel>=6
