# See https://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store

# Python cache
.mypy_cache
*__pycache__*
*.egg-info
*.pyc
*.pytest_cache
*.ruff_cache
*.cache*
*.config*

# Machine specific
.idea
.vscode

# Ignore .env files
.env
.envrc

# ignore storage dir
storage

# ignore .local dir
.local

# ignore dist dir
dist

# ignore virtualenvs
.venv
venv*
aienv*

# ignore jupyter checkpoints
.ipynb_checkpoints
.Trash*

# ignore uv.lock
uv.lock
